<%== render('stations/partials/_breadcrumbs', { locals: { station: @station, active: 'Water Level' } } ) %>
<%== render('stations/partials/_tabs', { locals: { station: @station, active: 'water_level'  } } ) %>

<h3>Edit water level</h3>