html { height: 100% }
body { height: 100% }
#map-general { height: 400px; }

.form-group.required label:after {
    content:"*";
    color:red;
}
@media (min-width: 768px) {
    select.form-control.input-sel-sm {
        width: 170px;
    }
}


[data-role="dynamic-fields"] > .form-inline + .form-inline {
    margin-top: 0.5em;
}

[data-role="dynamic-fields"] > .form-inline [data-role="add"] {
    display: none;
}

[data-role="dynamic-fields"] > .form-inline:last-child [data-role="add"] {
    display: inline-block;
}

[data-role="dynamic-fields"] > .form-inline:last-child [data-role="remove"] {
    display: none;
}
